/AR6_regionclasses.xlsx
/AR6_Scenarios_Database_metadata_indicators_v1.1.xlsx
/AR6_Scenarios_Database_World_v1.1.csv
/EDGARv8.0_FT2022_GHG_booklet_2023.xlsx
/elevate-internal_snapshot_1739887620.csv
/EMISSIONS_ANNUAL_1830-2022.csv
/ENGAGE_internal_2610_onlyemis.csv
/Guetschow_et_al_2024-PRIMAP-hist_v2.5.1_final_no_rounding_27-Feb-2024.nc
/HDR21-22_Statistical_Annex_HDI_Table.xlsx
/Infographics PBL NDC Tool 4Oct2024_for CarbonBudgetExplorer.xlsx
/job-20211019-ar6-nonco2_Raw-GSAT-Non-CO2.csv
/NonCO2.xlsx
/population_HYDE_UNP_Gapminder.csv
/SSP1.xlsx
/SSP2.xlsx
/SSP3.xlsx
/SSPs_v2023.xlsx
/UNFCCC_Parties_Groups_noeu.xlsx
/update_MAGICC_and_scenarios-budget.csv
/ClimateResource_13Mar2023a
/plotting_input_data
/RCI
